body {
    margin-top: 5vh;
}
form {
    width: 15vw;
}

.fixed-top {
    margin-top: 5vh;
    margin-left: 5vw;
}

#popup-graph {
    display: none;
    width: 80vw;
    height: 80vh;
    margin-left: 15vw;
    margin-top: 10vh;
}

#popup-filter {
    display: none;
    margin-top: 5vh;
    margin-left: 5vw;
    width: 15vw;
}
