body {
    margin-top: 5vh;
}
form {
    margin-top: 5vh;
    margin-left: 5vw;
    width: 15vw;
}

.fixed-top {
    width: 15vw;
}

.analysis {
    margin-left: 5vw;
}

table {
    width: 30%;
}

#popup-graph {
    display: none;
    width: 80vw;
    height: 80vh;
}
